@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


article {
    text-align: justify;
    max-width: 550px;
    margin: 100px auto 100px auto;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
}

article h1 {
    font-style: italic;
    text-align: center;
}

body {
    background-color: #fdf5e1;
    text-align: justify;
    max-width: 550px;
    margin: 50px auto 100px auto;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
}

.quote {
    font-family: 'Cormorant Garamond', serif;
    color: #5a1304;
}

.greek {
    font-family: 'GFS Didot', serif;
    font-size: 0.9rem;
    color: #5a1304;
}

@media (max-width:600px) {
    body {
  padding: 5%;
}
}

/* Tablet */
@media (min-width:600px) {
    body {
        padding: 5%;
    }
}

/* Desktop */
@media (min-width:900px) {
    body {
        padding: none;
    }
}